In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
requests.get('https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav').text

'<HTML><HEAD>\n<TITLE>Access Denied</TITLE>\n</HEAD><BODY>\n<H1>Access Denied</H1>\n \nYou don\'t have permission to access "http&#58;&#47;&#47;www&#46;ambitionbox&#46;com&#47;list&#45;of&#45;companies&#63;" on this server.<P>\nReference&#32;&#35;18&#46;284c3917&#46;1668831042&#46;103759e1\n</BODY>\n</HTML>\n'

In [3]:
headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
webpage=requests.get('https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav',headers=headers).text

In [4]:
soup=BeautifulSoup(webpage,'lxml')

In [5]:
soup.find_all('h1')[0].text

'List of companies in India'

In [6]:
for i in soup.find_all('h2'):
    print(i.text.strip())

TCS
Accenture
Cognizant
ICICI Bank
HDFC Bank
Wipro
Infosys
Capgemini
Tech Mahindra
Genpact
HCLTech
Amazon
Axis Bank
IBM
Concentrix Corpo...
Reliance jio
Larsen & Toubro ...
Vodafone Idea
HDB Financial Se...
Teleperformance
Kotak Mahindra B...
Reliance Industr...
Bharti Airtel
Reliance Retail
Deloitte
Tata Motors
BYJU'S
WNS
Mahindra & Mahin...
Flipkart

In [7]:
company=soup.find_all('div',class_='company-content-wrapper')

In [8]:
len(company)

30

In [32]:
name=[]
rating=[]
reviews=[]
ctype=[]
hq=[]
old=[]
employees=[]


for i in company:
    name.append(i.find('h2').text.strip())
    rating.append(i.find('p',class_='rating').text.strip())
    reviews.append(i.find('a',class_='review-count').text.strip())
    ctype.append(i.find_all('p',class_='infoEntity')[2].text.strip())
    hq.append(i.find_all('p',class_='infoEntity')[2].text.strip())
    old.append(i.find_all('p',class_='infoEntity')[2].text.strip())
    employees.append(i.find_all('p',class_='infoEntity')[2].text.strip())
    
d={'name':name,'rating':rating,'reviews':reviews,'type':ctype,'hq':hq,'old':old,'employe':employees}
df=pd.DataFrame(d)

In [15]:
print(name)
rating

['TCS', 'Accenture', 'Cognizant', 'ICICI Bank', 'HDFC Bank', 'Wipro', 'Infosys', 'Capgemini', 'Tech Mahindra', 'Genpact', 'HCLTech', 'Amazon', 'Axis Bank', 'IBM', 'Concentrix Corpo...', 'Reliance jio', 'Larsen & Toubro ...', 'Vodafone Idea', 'HDB Financial Se...', 'Teleperformance', 'Kotak Mahindra B...', 'Reliance Industr...', 'Bharti Airtel', 'Reliance Retail', 'Deloitte', 'Tata Motors', "BYJU'S", 'WNS', 'Mahindra & Mahin...', 'Flipkart']

['3.9',
 '4.1',
 '3.9',
 '4.0',
 '4.0',
 '3.9',
 '3.9',
 '3.9',
 '3.7',
 '4.0',
 '3.8',
 '4.3',
 '3.9',
 '4.2',
 '4.1',
 '4.0',
 '4.1',
 '4.2',
 '4.0',
 '3.6',
 '3.9',
 '4.1',
 '4.1',
 '4.1',
 '4.1',
 '4.1',
 '3.5',
 '3.7',
 '3.9',
 '4.2']

In [17]:
reviews

['(50.2k Reviews)',
 '(32.6k Reviews)',
 '(29.8k Reviews)',
 '(35.1k Reviews)',
 '(40.1k Reviews)',
 '(28.9k Reviews)',
 '(28.4k Reviews)',
 '(24.2k Reviews)',
 '(22k Reviews)',
 '(21.2k Reviews)',
 '(18.6k Reviews)',
 '(18.4k Reviews)',
 '(19.2k Reviews)',
 '(15.7k Reviews)',
 '(15.2k Reviews)',
 '(15.1k Reviews)',
 '(24.9k Reviews)',
 '(13.9k Reviews)',
 '(13.5k Reviews)',
 '(14.5k Reviews)',
 '(13.8k Reviews)',
 '(44.2k Reviews)',
 '(12.9k Reviews)',
 '(15.8k Reviews)',
 '(10.4k Reviews)',
 '(12.5k Reviews)',
 '(12.2k Reviews)',
 '(7.1k Reviews)',
 '(39.9k Reviews)',
 '(11.6k Reviews)']

In [29]:
company[0].find_all('p',class_='infoEntity')[2].text.strip()

'54 years old'

In [33]:
df

,name,rating,reviews,type,hq,old,employe
0,TCS,3.9,(50.2k Reviews),54 years old,54 years old,54 years old,54 years old
1,Accenture,4.1,(32.6k Reviews),33 years old,33 years old,33 years old,33 years old
2,Cognizant,3.9,(29.8k Reviews),28 years old,28 years old,28 years old,28 years old
3,ICICI Bank,4.0,(35.1k Reviews),28 years old,28 years old,28 years old,28 years old
4,HDFC Bank,4.0,(40.1k Reviews),28 years old,28 years old,28 years old,28 years old
5,Wipro,3.9,(28.9k Reviews),77 years old,77 years old,77 years old,77 years old
6,Infosys,3.9,(28.4k Reviews),41 years old,41 years old,41 years old,41 years old
7,Capgemini,3.9,(24.2k Reviews),55 years old,55 years old,55 years old,55 years old
8,Tech Mahindra,3.7,(22k Reviews),36 years old,36 years old,36 years old,36 years old
9,Genpact,4.0,(21.2k Reviews),25 years old,25 years old,25 years old,25 years old
10,HCLTech,3.8,(18.6k Reviews),31 years old,31 years old,31 years old,31 years old
11,Amazon,4.3,(18.4k Reviews),28 years old,28 years old,28 years old,28 years old
12,Axis Bank,3.9,(19.2k Reviews),29 years old,29 years old,29 years old,29 years old
13,IBM,4.2,(15.7k Reviews),111 years old,111 years old,111 years old,111 years old
14,Concentrix Corpo...,4.1,(15.2k Reviews),39 years old,39 years old,39 years old,39 years old
15,Reliance jio,4.0,(15.1k Reviews),15 years old,15 years old,15 years old,15 years old
16,Larsen & Toubro ...,4.1,(24.9k Reviews),84 years old,84 years old,84 years old,84 years old
17,Vodafone Idea,4.2,(13.9k Reviews),4 years old,4 years old,4 years old,4 years old
18,HDB Financial Se...,4.0,(13.5k Reviews),15 years old,15 years old,15 years old,15 years old
19,Teleperformance,3.6,(14.5k Reviews),44 years old,44 years old,44 years old,44 years old
20,Kotak Mahindra B...,3.9,(13.8k Reviews),19 years old,19 years old,19 years old,19 years old
21,Reliance Industr...,4.1,(44.2k Reviews),49 years old,49 years old,49 years old,49 years old
22,Bharti Airtel,4.1,(12.9k Reviews),27 years old,27 years old,27 years old,27 years old
23,Reliance Retail,4.1,(15.8k Reviews),16 years old,16 years old,16 years old,16 years old
24,Deloitte,4.1,(10.4k Reviews),177 years old,177 years old,177 years old,177 years old
25,Tata Motors,4.1,(12.5k Reviews),77 years old,77 years old,77 years old,77 years old
26,BYJU'S,3.5,(12.2k Reviews),11 years old,11 years old,11 years old,11 years old
27,WNS,3.7,(7.1k Reviews),26 years old,26 years old,26 years old,26 years old
28,Mahindra & Mahin...,3.9,(39.9k Reviews),77 years old,77 years old,77 years old,77 years old
29,Flipkart,4.2,(11.6k Reviews),15 years old,15 years old,15 years old,15 years old